@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>This page is main page.</p>

<form asp-action="ShowDetails" method="post">
    <button type="submit">Show Details</button>
</form>
