@{
    ViewData["Title"] = "Home Page ";
}

<div class="text center">
    <h1 class="display-4">Welcome, my friend!</h1>
    <p>Click the button below to view you action history.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "UserActions")">View Action History</a>
    <a class="btn btn-secondary" href="@Url.Action("PrintValue", "Home")">Go to Print Value</a>
</div>